<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Orange-главная</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- Material Design Bootstrap -->
  <link rel="stylesheet" href="css/mdb.min.css">
  <!-- Your custom styles (optional) -->
  <link rel="stylesheet" href="css/style.css">

</head>

<body>



    <div class="container my-5 py-5 z-depth-1">


        <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
              <div class="row d-flex justify-content-center">
                <div class="col-md-6">

                    <form class="text-center" action="/login" method="post">

                            <p class="h4 mb-4">Войти в личный кабинет</p>

                            <input type="text" name="username" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Логин">

                            <input type="password" name="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Пароль">

                            <button class="btn btn-info btn-block my-4 btn-purple" type="submit">Войти</button>

                            <hr class="featurette-divider">

                            <div class="mt-2 mb-4">
                                <p class="grey-text">Или</p>
                                <a href="/registration">Зарегистрироваться</a>
                            </div>


                            <p>вход с помощью других аккаунов:</p>

                                <a href="#" class="mx-1" role="button"><i class="fab fa-google"></i></a>
                                <a href="#" class="mx-1" role="button"><i class="fab fa-vk"></i></a>

                     </form>
                   </div>
                </div>
        </section>


      </div>



<!--
  <footer class="page-footer text-center font-small mt-3 orange fixed-bottom py-3" style="width: 100%;">
    ORANGE TEAM АУКЦИОН
  </footer> -->

  <!-- jQuery -->
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="js/mdb.min.js"></script>
  <!-- Your custom scripts (optional) -->
  <script type="text/javascript"></script>

</body>
</html>